.p1 {
    padding-top: 65px;
}

.p2 {
    padding-top: 16px;
}

.p3 {
    padding-top: 65px;
}

.pb-0 {
    margin-left: 65px;
    margin-right: 65px;
    padding-top: 65px;
}

.pb {
    margin-left: 65px;
    margin-right: 65px;
    color: darkgrey;
    text-align: justify;
}

p {
    color: darkgrey;
    text-align: justify;
}

.image {
   height: 350px;
   width: 350px;
}

body {
    background-color: #003366; /* Azul oscuro */
}